.Featured{
    padding-bottom: 2.5em;
    &__cards{
        display: grid;
        grid-template-columns: 1fr;
        gap: 3em;
    }
    &__content{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    &__title{
        margin: 0;
        font-size: 1.75em;
        line-height: 1.25em;
        margin-bottom: 0.5em;
    }
    &__text{
        margin: 0;
        font-size: 0.75em;
    }
}