.Splash {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background-color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity 1s, visibility 1s;
	&.js-hidden {
		opacity: 0;
		visibility: hidden;
	}
	&__content {
		animation-name: splash;
		animation-duration: 4s;
		animation-delay: 1s;
		opacity: 0;
	}
	&__logo {
		margin-bottom: 1.3em;
	}
	&__title {
		font-size: 2em;
		margin: 0;
	}
	@keyframes splash {
		0% {
			opacity: 0;
		}
		25% {
			opacity: 1;
		}
		50% {
			opacity: 1;
		}
		75% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
}
