@import "../variables.scss";

.Carousel {
	$focusHeight: 150px;
	$titleHeight: 50px;
	$titleMarginTop: 20px;
	height: $focusHeight + $titleHeight + $titleMarginTop;
	&__absolute {
		position: absolute;
		left: 0;
		right: 0;
		overflow: hidden;
		padding: 1em 0;
		margin: -1em auto;
	}
	&__grid {
		display: grid;
		grid-template-columns: 0 repeat(3, 1fr) 0;
		justify-items: center;
		align-items: center;
		gap: 0 2em;
		margin: 0 -4em;
	}
	&__image {
		&--side {
			width: 100px;
			height: 100px;
			cursor: pointer;
			transition: transform 0.3s;
		}
		&--left {
			&:hover {
				transform: scale(1.05) translate(0.25em);
			}
		}
		&--right {
			&:hover {
				transform: scale(1.05) translate(-0.25em);
			}
		}
		&--focus {
			width: $focusHeight;
			height: $focusHeight;
		}
	}
	&__title {
		grid-column: span 5;
		height: $titleHeight;
		margin: $titleMarginTop 0 0;
		text-align: center;
		color: var(--secondary);
		vertical-align: baseline;
	}
	@media only screen and (min-width: 600px) {
		&__grid {
			margin: 0;
		}
	}
}
