@import "../variables.scss";

.MainHeader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $headerHeight;
    padding: 0 0.5em;
    background-color: var(--light);
    &__title{
        margin: 0;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 3px;
    }
    &--transparent{
        background-color: transparent;
    }
}