@import "../variables.scss";

.PlayerNav{
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    &__slider{
        appearance: none;
        width: 100%;
        background-color: $primary;
        height: 5px;
        outline: none;
        &::-webkit-slider-thumb {
            appearance: none;
            width: 25px;
            height: 25px;
            background-color: $primary;
            border-radius: 50%;
            cursor: pointer;
            border: 6px solid transparentize($primary, .6);
            background-clip: padding-box;
        }
        &::-moz-range-thumb {
            appearance: none;
            width: 13px;
            height: 13px;
            background-color: $primary;
            border-radius: 50%;
            cursor: pointer;
            border: 6px solid transparentize($primary, .6);
            background-clip: padding-box;
        }
    }
    &__durations{
        display: flex;
        justify-content: space-between;
    }
    &__durationText{
        margin: 0.25em 0 0;
        font-size: 0.9em;
        font-weight: 300;
    }

    // Navigation
    &__navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1em;
    }
    &__button{
        width:56px;
        height:56px;
        padding: 1em;
        background-color: transparent;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color .2s;
        &--large{
            width: 96px;
            height: 96px;
            padding: 0;
        }
        &:hover{
            background-color: rgba(255, 17, 104, 0.15);
        }
    }
    &__icon{
        fill: white;
    }
}