@import "./variables.scss";
@import "./utilities.scss";

:root{
  --primary: $primary;
  --secondary: $secondary;
  --additional: $additional;
  --brightness: 0.75;
  --dark: 0;
  --bright: 1;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: var(--secondary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}